@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Chelsea+Market&display=swap');

:root {
    background-color: papayawhip
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* Brian Design via YouTube to help with rem sizing */
    font: 62.5% 'Belanosima', sans-serif;
}

#logo {
    padding: 1rem;
    width: 100%;
}

h1 {
    padding-top: 1rem;
    font: 5.4rem 'Chelsea Market', sans-serif;
}

h2 {
    font: 2.4rem 'Chelsea Market', sans-serif;
}

h3 {
    font: 2.2rem 'Chelsea Market', sans-serif;
}

p {
    font: 1.8rem 'Belanosima', sans-serif;
}

i {
    font-size: 1.8rem;
    padding: 0.3rem;
    color: indigo;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    font: 1.2rem 'Belanosima', sans-serif;
    max-width: 70px;
    margin: 0.2rem;
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

button>img {
    max-width: 60px;
    border-radius: 80px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px lightskyblue;
}

#main-img>img {
    border-radius: 90px;
    max-width: 60px;
    margin: 1rem;
}

/* flex classes */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

/* styling for game */

#game-container {
    width: 100%;
    padding-bottom: 2rem;
}

#game {
    max-width: 900px;
    padding: 1rem 3rem;
    border: 2px thistle solid;
    border-radius: 20px;
}



/* styling for player updates */
#player-updates {
    padding-top: 1rem;
    font-size: 3rem;
    color: indigo;
}

.player {
    padding: 1rem;
}

.scores {
    font-size: 2.2rem;
}

#player-score {
    font-size: 2.8rem;
    color: indigo;
}

#player-image {
    max-width: 127px;
    border-radius: 90px;
    float: left;
}

.computer {
    padding: 1rem;
}

#computer-score {
    font-size: 2.8rem;
    color: indigo;
}


#computer-image {
    max-width: 127px;
    border-radius: 90px;
    float: right;
}

.hidden {
    display: none;
}

#restart-button {
    max-width: 250px;
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: thistle;
    border: 2px thistle solid;
    border-radius: 20px;
}

#restart-button:hover {
    cursor: pointer;
    background-color: indigo;
    color: thistle;
    box-shadow: 0px 0px 10px thistle;
}

#restart-button>p {
    font-size: 3rem;
}


footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: thistle;
}

footer a {
    text-decoration: none;
    font: 1.8rem 'Belanosima', sans-serif;
    color: indigo;
}

/* media queries */

@media only screen and (max-width: 400px) {

    .player>h2,
    .computer>h2 {
        font-size: 1.3rem;
    }

    #player-updates {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 565px) and (min-width: 431px) {

    h1 {
        padding-top: 0.5rem;
        font: 4rem 'Chelsea Market', sans-serif;
    }
}

@media only screen and (max-width: 430px) {

    h1 {
        padding-top: 0.5rem;
        font: 2.8rem 'Chelsea Market', sans-serif;
    }

    h2 {
        font: 1.7rem 'Chelsea Market', sans-serif;
    }

    .scores,
    h3 {
        font-size: 1.7rem;
    }

}

/* specific query for Google Nest hub and short but wide devices where sticky footer overlaps player score*/
@media only screen and (max-height: 670px) {

    footer {
        position: relative;
    }
}